@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 100vw;
  height: 100vh;
}

@layer components {
  .logo,
  .question {
    @apply font-mono text-lg subpixel-antialiased font-bold tracking-wide leading-7 text-center text-lime-100;
  }
  .select {
    position: relative;
    margin-top: 10vh;
    margin-bottom: 5vh;
    @apply block text-center appearance-none bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500;
  }
  .questions {
    @apply font-mono text-base subpixel-antialiased font-bold tracking-wide leading-7 text-center text-lime-100;
  }
}
